mat-expansion-panel {
  margin-bottom: 8px;
  justify-content: flex-start;
}

mat-panel-title {
  font-weight: bold;
  align-items: center;
  width: 230px;
  flex-grow: 0;
}

mat-panel-description {
  align-items: center;
}

form {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

input {
  padding: 0 16px 8px;
  font-size: 16px;
}

.description {
  flex-grow: 1;
}

.edit-icon {
  position: relative;
  right: -11px;
}
